@*This is the child component for error show*@

@model Planner.ViewModels.ValidationErrorViewModel;

<div class="error-show-area">
    <form class="error-form">
        <ul>
            @foreach (string errorItem in Model.ListOfErrors)
            {
                <li class="error-message-text">@errorItem</li>
            }
        </ul>
    </form>
</div>