@{
    ViewData["Title"] = "Email not found";
}

<h2>@ViewData["Header"]</h2>
<br>
<br>
<br>
<div class="login-form-area">
    <form class="update-form">
        <h2>
            Unable to find your email
        </h2>

        <p>Seems like you had a typo when entering your email address or this email address was not registered</p>

        <br>
        <button class="button">Back</button>
    </form>
</div>