@{
    ViewData["Title"] = "Reset password ??";

    string userEmail = (string)ViewData["UserEmail"];
}

<h2>@ViewData["Header"]</h2>
<br>
<div class="login-form-area">
    <script src="~/js/auth.js"></script>
    <form class="update-form" action="CreateNewPasswordAction" method="post">
        <h2>
            One more step
        </h2>

        <p>Enter your password reset token and enter your new password. Then, you should be all set</p>

        <br>
        <label for="emailFieldPasswordReset">Email: </label><br>
        <input type="text" id="email_password_reset_field" name="Email" value="@userEmail" class="field"/>
        <br>

        <br>
        <label for="tokenFieldPasswordReset">Token: </label><br>
        <input type="text" id="token_password_reset_field" name="PasswordResetToken" placeholder="Token" class="field">
        <br>

        <br>
        <label for="newPasswordPasswordReset">New password: </label><br>
        <input type="password" id="new_password_password_reset_field" name="NewPassword" placeholder="New password" class="field"/>
        <br>

        <br>
        <label for="confirmPasswordPasswordReset">Confirm new password</label><br>
        <input type="password" id="confirm_new_password_password_reset_field" name="NewPasswordConfirm" placeholder="Confirm new password" class="field" onclick="resetUserPasswordBasedOnTokenAndEmail(event, @userEmail)"/>
        <br>

        <br>
        <button type="submit" value="Submit" class="button">Change password</button>
    </form>
</div>