@{
    ViewData["Title"] = "Password reset done";
}

<h2>@ViewData["Header"] </h2>
<br>
<br>
<br>
<div class="login-form-area">
    <form class="update-form">
        <h2>
            Done!
        </h2>

        <p>Your password has been reset. Click the button below to login again</p>

        <br>
        <a class="basic-button" href="/auth/login">Login</a>
    </form>
</div>