@{
    ViewData["Title"] = "Sign up";
}

<h2>@ViewData["Header"]</h2>
<br>
<br>
<br>
<div class="login-form-area">
    <form class="update-form">
        <h2>
            Sign up
        </h2>
        <br>
        <label for="fullNameSignUpField">Fullname:</label><br>
        <input type="text" , id="fullname_signup_field" name="fullname_signup_field" placeholder="Fullname" class="field"><br>

        <label for="emailSignUpField">Email: </label><br>
        <input type="text" id="email_signup_field" name="email_signup_field" placeholder="Email" class="field"><br>

        <label for="passwordSignUpField">Password: </label><br>
        <input type="password" id="password_signup_field" name="password_signup_field" placeholder="Password" class="field"><br>

        <label for="passwordSignUpField">Password confirm: </label><br>
        <input type="password" id="password_confirm_signup_field" name="password_confirm_signup_field" placeholder="Password" class="field"><br>

        <input type="submit" value="Submit" class="button">
    </form>
</div>