@{
    ViewData["Title"] = "Registration done";
}
<h2>@ViewData["Header"] </h2>
<br />
<br />
<br />
<div class="login-form-area">
    <form class="update-form">
        <h2>
            Done!
        </h2>

        <p>Account has been created. Click the button below to login to your account</p>

        <br />
        <a class="basic-button" href="/auth/login">Login</a>
    </form>
</div>