@*This will contain several WorkItemOverviewItems*@

@using Planner.ViewModels;
@{
    ViewData["Title"] = "List of Tasks";

    // Get list of work items from the controller via view data
    var workItems = ViewData["WorkItems"] as List<WorkItemViewModel>;
}

<h2>@ViewData["Header"]</h2>

<div class="add-more-work-area">
    <p class="text-desc">Add more work</p>
    <script src="~/js/workitem.js"></script>
    <div class="text-enter-area">
        <textarea placeholder="Title" class="text-field" id="title_text_field"></textarea>
        <textarea placeholder="Content" class="text-field" id="content_text_field"></textarea>
    </div>
    <button class="button" id="add_more_work_button" onclick="onAdd()">Add</button>
</div>

<div class="list-of-work-item">
    @foreach (var workItem in workItems)
    {
        @await Html.PartialAsync("_WorkItemOverviewItem", workItem);
    }
</div>

<div class="add-more-work-area">
    <p class="paging-area-text">Records per page</p>
    <textarea class="paging-area-field"></textarea>
    <button class="paging-area-button">Apply</button>
    <button class="paging-area-button">Next</button>
</div>

<div class="update-task-area">
</div>