@using Planner.ViewModels;

@{
    ViewData["Title"] = "List of tasks";

    // Get list of work items from controller
    var workItems = ViewData["WorkItems"] as List<WorkItemViewModel>;

    // Current page
    int currentPage = (int)ViewData["CurrentPage"];

    // Page size
    int pageSize = (int)ViewData["PageSize"];
}

<h2>@ViewData["Header"]</h2>

<script src="~/js/workitem.js"></script>

<div class="list-of-work-item">
    @foreach (var workItem in workItems)
    {
        @await Html.PartialAsync("_WorkItemManagerItem", workItem)
    }
</div>

<div class="add-more-work-area">
    <p class="paging-area-text">Records per page</p>
    <form action="GetAllWorkItems">
        <input class="paging-area-field" id="work-item-manager-page-size" name="pageSize" />
        <input class="paging-area-button" type="submit" />
    </form>

    <a class="paging-area-button" href="/main/GetAllWorkItems?pageSize=@pageSize&pageNumber=@(currentPage - 1)">Previous</a>
    <a class="paging-area-button" href="/main/GetAllWorkItems?pageSize=@pageSize&pageNumber=@(currentPage + 1)">Next</a>
</div>