@using Planner.ViewModels;

@{
    ViewData["Title"] = "List of tasks";

    // Get list of work items from controller
    var workItems = ViewData["WorkItems"] as List<WorkItemViewModel>;
}

<h2>@ViewData["Header"]</h2>

<div class="list-of-work-item">
    @foreach (var workItem in workItems)
    {
        @await Html.PartialAsync("_WorkItemManagerItem", workItem)
    }
</div>

<div class="add-more-work-area">
    <p class="paging-area-text">Records per page</p>
    <textarea class="paging-area-field"></textarea>
    <button class="paging-area-button">Apply</button>
    <button class="paging-area-button">Next</button>
</div>