@model Planner.ViewModels.UserProfileViewModel;
@{
    ViewData["Title"] = "Account info";
}

<h2>@ViewData["Header"]</h2>
<br />
<br />
<div class="login-form-area">
    <form class="update-form">
        <script src="~/js/user.js"></script>
        <h2>
            Account info
        </h2>
        <br>

        <label>Fullname: @Model.FullName</label><br>
        <input type="text" id="fullname_account_settings" name="fullname_account_settings" placeholder="Username" class="field">
        <br><br>

        <label>Email: @Model.UserEmail</label><br>
        <button class="button" onclick="openUpdateEmailMenu(event)">Update email</button><br><br>

        <label>Password: *********</label><br>
        <button class="button" onclick="openUpdatePasswordMenu(event)">Update password</button>
        <br><br><br>

        <input type="submit" value="Submit" class="button">
    </form>
</div>

<div class="update-user-info-area"></div>