@model Planner.ViewModels.RoleViewModel;

<div class="work-item" id="">
    <p class="title" id="rolename-@Model.RoleId">@Model.RoleName</p>
    <div class="options">
        <button class="button" id="@Model.RoleId">Remove</button>
    </div>
</div>