@model Planner.ViewModels.RoleViewModel;

<div class="work-item" id="@Model.RoleId">
    <p class="title">@Model.RoleName</p>
    <div class="options">
        <button class="button" id="@Model.RoleId">Remove</button>
    </div>
</div>