@model Planner.ViewModels.RoleAssignmentViewModel

<div class="work-item" id="">
    <p class="title" id="role-assignment-@Model.AssignedRole"></p>
    <p>User: @Model.UserFullNameGetAssigned</p>
    <p>Role: @Model.RoleNameAssignedToUser</p>
    <div class="options">
        <button class="button" id="@Model.UserIdGetAssigned-@Model.AssignedRole">Remove</button>
    </div>
</div>