@using Planner.ViewModels;
@{
    ViewData["Title"] = "List of roles";

    // Get list of roles from controller
    var roles = ViewData["Roles"] as List<RoleViewModel>;
}

<h2>@ViewData["Header"]</h2>

<div class="add-more-work-area">
    <p class="text-desc">Add more roles</p>
    <script src="~/js/role.js"></script>
    <div class="text-enter-area">
        <textarea placeholder="Name" class="text-field" id="new_role_name_text_field"></textarea>
        <textarea placeholder="Description" class="text-field" id="new_role_description_text_field"></textarea>
    </div>
    <button class="button" onclick="onAddRole()">Add</button>
</div>

<div class="list-of-work-item">
    @foreach (var role in roles)
    {
        @await Html.PartialAsync("_RoleOverviewItem", role);
    }
</div>