@using Planner.ViewModels

@{
    ViewData["Title"] = "Role assignments";

    // Get list of role assignments from controller
    var roleAssignments = ViewData["RoleAssignments"] as List<RoleAssignmentViewModel>;
}

<h2>@ViewData["Header"]</h2>

<div class="add-more-work-area">
    <p class="text-desc">Add role</p>
    <script src="~/js/role.js"></script>
    <div class="text-enter-area">
        <textarea placeholder="User" class="text-field" id="role_assign_user_id_text_field"></textarea>
        <textarea placeholder="Role" class="text-field" id="role_assign_role_id_text_field"></textarea>
    </div>
    <button class="button" id="add_more_role_assignment_button" onclick="onAssignRole()">Add</button>
</div>

<div class="list-of-work-item">
    @foreach (var roleAssignment in roleAssignments)
    {
        @await Html.PartialAsync("_RoleAssignmentItem", roleAssignment);
    }
</div>